.categoryBox {
  display: flex;
  width: 100%;
  padding: 25px 0;
  flex-wrap: wrap;
  h1 {
    padding: 15px 0;
    width: 100%;
  }
  .category, .new_category {
    flex-basis: 50%;
  }
  .category {
    padding: 0 10px;
    ul {
      li {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0;
        border-top: 2px solid transparent;
        border-bottom: 2px solid transparent;
        span {
          button {
            margin-right: 5px;
          }
          button:last-child {
            margin-right: 0;
          }
        }
        &:hover {
          border-top: 2px solid #f4f4f4;
          border-bottom: 2px solid #f4f4f4;
        }
      }
    }
  }
}